n8n-workflow-transparencia.json
{
  "name": "Transparencia Ciudadana - Notificaciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test/9bf08527-7c30-4680-be8a-fd53c4c1a124",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "9bf08527-7c30-4680-be8a-fd53c4c1a124"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "reporte_nuevo"
            }
          ]
        }
      },
      "id": "switch-event-type",
      "name": "Switch - Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "actualizacion_estado"
            }
          ]
        }
      },
      "id": "switch-actualizacion",
      "name": "Es Actualización Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "comentario"
            }
          ]
        }
      },
      "id": "switch-comentario",
      "name": "Es Comentario",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "feedback"
            }
          ]
        }
      },
      "id": "switch-feedback",
      "name": "Es Feedback",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 900]
    },
    {
      "parameters": {
        "fromEmail": "themateo135@gmail.com",
        "toEmail": "={{$json.correo}}",
        "subject": "Reporte Recibido #{{$json.reporte_id}} - Transparencia Ciudadana",
        "text": "Hola {{$json.nombres}},\n\nHemos recibido tu reporte sobre: {{$json.servicio.nombre}}\n\nDescripción: {{$json.descripcion}}\n\nID de Reporte: #{{$json.reporte_id}}\nEstado: {{$json.estado}}\nPrioridad: {{$json.prioridad}}\n\nTe mantendremos informado sobre el progreso de tu reporte.\n\nGracias por tu colaboración,\nEquipo de Transparencia Ciudadana",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "transportType": "smtp",
        "senderName": "Transparencia Ciudadana",
        "smtpHost": "smtp.gmail.com",
        "smtpPort": 587,
        "smtpUser": "themateo135@gmail.com",
        "smtpPassword": "smywavzvsxuqksrv",
        "smtpSecure": "none"
      },
      "id": "email-reporte-nuevo",
      "name": "Email - Reporte Nuevo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "fromEmail": "themateo135@gmail.com",
        "toEmail": "={{$json.reporte.correo}}",
        "subject": "Actualización de tu Reporte #{{$json.reporte_id}} - Transparencia Ciudadana",
        "text": "Hola,\n\nTu reporte #{{$json.reporte_id}} ha sido actualizado.\n\nEstado anterior: {{$json.estado_anterior.nombre}}\nEstado nuevo: {{$json.estado_nuevo.nombre}}\n\nActualizado por: {{$json.actualizado_por.nombre}}\nFecha: {{$json.updated_at_formatted}}\n\nGracias por tu paciencia,\nEquipo de Transparencia Ciudadana",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "transportType": "smtp",
        "senderName": "Transparencia Ciudadana",
        "smtpHost": "smtp.gmail.com",
        "smtpPort": 587,
        "smtpUser": "themateo135@gmail.com",
        "smtpPassword": "smywavzvsxuqksrv",
        "smtpSecure": "none"
      },
      "id": "email-actualizacion",
      "name": "Email - Actualización Estado",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "fromEmail": "themateo135@gmail.com",
        "toEmail": "={{$json.reporte.correo}}",
        "subject": "Nuevo comentario en tu Reporte #{{$json.reporte_id}} - Transparencia Ciudadana",
        "text": "Hola,\n\nSe ha agregado un nuevo comentario a tu reporte #{{$json.reporte_id}}.\n\nComentario: {{$json.contenido}}\nAutor: {{$json.autor_tipo}}\nFecha: {{$json.created_at_formatted}}\n\nGracias,\nEquipo de Transparencia Ciudadana",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "transportType": "smtp",
        "senderName": "Transparencia Ciudadana",
        "smtpHost": "smtp.gmail.com",
        "smtpPort": 587,
        "smtpUser": "themateo135@gmail.com",
        "smtpPassword": "smywavzvsxuqksrv",
        "smtpSecure": "none"
      },
      "id": "email-comentario",
      "name": "Email - Comentario",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 600],
      "credentials": {}
    },
    {
      "parameters": {
        "fromEmail": "themateo135@gmail.com",
        "toEmail": "themateo135@gmail.com",
        "subject": "Feedback Recibido - Reporte #{{$json.reporte_id}}",
        "text": "Feedback recibido para el reporte #{{$json.reporte_id}}:\n\nResuelto: {{$json.resuelto ? 'Sí' : 'No'}}\nCalificación: {{$json.calificacion}}/5 estrellas\nNPS: {{$json.nps}}/10 ({{$json.categoria_nps}})\nComentario: {{$json.comentario || 'Sin comentario'}}\n\nCiudadano: {{$json.reporte.nombres}} ({{$json.reporte.correo}})\nFecha: {{$json.respondido_at_formatted}}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "transportType": "smtp",
        "senderName": "Transparencia Ciudadana",
        "smtpHost": "smtp.gmail.com",
        "smtpPort": 587,
        "smtpUser": "themateo135@gmail.com",
        "smtpPassword": "smywavzvsxuqksrv",
        "smtpSecure": "none"
      },
      "id": "email-feedback",
      "name": "Email - Feedback (Admin)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 800],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "757900197408593",
        "recipientPhoneNumber": "={{$json.telefono}}",
        "textBody": "Hola {{$json.nombres}},\n\nHemos recibido tu reporte sobre: {{$json.servicio.nombre}}\n\nDescripción: {{$json.descripcion}}\n\nID de Reporte: #{{$json.reporte_id}}\nEstado: {{$json.estado}}\nPrioridad: {{$json.prioridad}}\n\nTe mantendremos informado sobre el progreso de tu reporte.\n\nGracias por tu colaboración,\nEquipo de Transparencia Ciudadana",
        "additionalFields": {}
      },
      "id": "whatsapp-reporte-nuevo",
      "name": "WhatsApp - Reporte Nuevo",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [850, 200],
      "webhookId": "wa-reporte-nuevo-001",
      "credentials": {
        "whatsAppApi": {
          "id": "9cvv6UVCDFGweo9H",
          "name": "WhatsApp account"
        }
      },
      "notes": "Envía confirmación de recepción al ciudadano"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "757900197408593",
        "recipientPhoneNumber": "={{$json.reporte.telefono}}",
        "textBody": "Hola,\n\nTu reporte #{{$json.reporte_id}} ha sido actualizado.\n\nEstado anterior: {{$json.estado_anterior.nombre}}\nEstado nuevo: {{$json.estado_nuevo.nombre}}\n\nActualizado por: {{$json.actualizado_por.nombre}}\nFecha: {{$json.updated_at_formatted}}\n\nGracias por tu paciencia,\nEquipo de Transparencia Ciudadana",
        "additionalFields": {}
      },
      "id": "whatsapp-actualizacion",
      "name": "WhatsApp - Actualización Estado",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [850, 400],
      "webhookId": "wa-actualizacion-002",
      "credentials": {
        "whatsAppApi": {
          "id": "9cvv6UVCDFGweo9H",
          "name": "WhatsApp account"
        }
      },
      "notes": "Notifica al ciudadano sobre cambios de estado"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "757900197408593",
        "recipientPhoneNumber": "+573123456789",
        "textBody": "Hola,\n\nSe ha agregado un nuevo comentario a tu reporte #{{$json.reporte_id}}.\n\nComentario: {{$json.contenido}}\nAutor: {{$json.autor_tipo}}\nFecha: {{$json.created_at_formatted}}\n\nGracias,\nEquipo de Transparencia Ciudadana",
        "additionalFields": {}
      },
      "id": "whatsapp-comentario",
      "name": "WhatsApp - Comentario (Admin)",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [850, 600],
      "webhookId": "wa-comentario-003",
      "credentials": {
        "whatsAppApi": {
          "id": "9cvv6UVCDFGweo9H",
          "name": "WhatsApp account"
        }
      },
      "notes": "Notifica a admins sobre nuevos comentarios"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "757900197408593",
        "recipientPhoneNumber": "+573123456789",
        "textBody": "Feedback recibido para el reporte #{{$json.reporte_id}}:\n\nResuelto: {{$json.resuelto ? 'Sí' : 'No'}}\nCalificación: {{$json.calificacion}}/5 estrellas\nNPS: {{$json.nps}}/10 ({{$json.categoria_nps}})\nComentario: {{$json.comentario || 'Sin comentario'}}\n\nCiudadano: {{$json.reporte.nombres}} ({{$json.reporte.correo}})\nFecha: {{$json.respondido_at_formatted}}",
        "additionalFields": {}
      },
      "id": "whatsapp-feedback",
      "name": "WhatsApp - Feedback (Admin)",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [850, 800],
      "webhookId": "wa-feedback-004",
      "credentials": {
        "whatsAppApi": {
          "id": "9cvv6UVCDFGweo9H",
          "name": "WhatsApp account"
        }
      },
      "notes": "Notifica a admins sobre feedback de ciudadanos"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Webhook recibido correctamente\", \"event_type\": $json.event_type, \"timestamp\": $now } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Agregar log de los datos recibidos\nconst eventType = $input.item.json.event_type;\nconst timestamp = $input.item.json.timestamp;\n\nconsole.log(`Evento recibido: ${eventType} a las ${timestamp}`);\nconsole.log('Datos completos:', JSON.stringify($input.item.json, null, 2));\n\nreturn $input.all();"
      },
      "id": "log-datos",
      "name": "Log Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 100]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Log Datos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch - Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de Evento": {
      "main": [
        [
          {
            "node": "Email - Reporte Nuevo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Actualización Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Actualización Estado": {
      "main": [
        [
          {
            "node": "Email - Actualización Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Comentario": {
      "main": [
        [
          {
            "node": "Email - Comentario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Feedback": {
      "main": [
        [
          {
            "node": "Email - Feedback (Admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Reporte Nuevo": {
      "main": [
        [
          {
            "node": "WhatsApp - Reporte Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Actualización Estado": {
      "main": [
        [
          {
            "node": "WhatsApp - Actualización Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Comentario": {
      "main": [
        [
          {
            "node": "WhatsApp - Comentario (Admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Feedback (Admin)": {
      "main": [
        [
          {
            "node": "WhatsApp - Feedback (Admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Reporte Nuevo": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Actualización Estado": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Comentario (Admin)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Feedback (Admin)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-19T10:00:00.000Z",
  "versionId": "1"
}
