n8n/transparencia_workflow.json
{
  "name": "TransparenciaCiudadana - notificaciones",
  "nodes": [
    {
      "parameters": {
        "path": "transparencia_webhook",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v16.0/' + $json['WHATSAPP_PHONE_ID'] + '/messages' }}",
        "options": {},
        "method": "POST",
        "bodyParametersJson": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $json[\"user_phone\"],\n  \"type\": \"text\",\n  \"text\": {\"body\": \"Hola \" + $json['user_name'] + \", hemos recibido tu reporte. ID: \" + $json['id']}\n}"
      },
      "name": "WhatsApp API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json['FROM_EMAIL'] || 'no-reply@transparenciaciudadana.local' }}",
        "toEmail": "={{ $json['user_email'] }}",
        "subject": "Confirmación de recibo de reporte #{{ $json['id'] }}",
        "text": "Hola {{$json['user_name']}}\\n\\nHemos recibido tu reporte con ID: {{$json['id']}}\\n\\nDescripción:\\n{{$json['description']}}\\n\\nGracias por participar en TransparenciaCiudadana."
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        600,
        380
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "WhatsApp API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}